head{ 
  background-color: black;
  
}
.imdf { 
    border-radius: 50px;
}
.container-fluid { 
    background-color: black;
}
.dropdown-menu { 
    color: white;
}
.nav-item { 
    color: white;
}
body { 
    font-family:Impact, fantasy	;
}
.banner {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(45deg, rgb(252, 169, 90),rgb(162, 85, 124),rgb(71, 0, 157));
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}


.banner h1 {
    font-size: 90px;
    text-align: center;
}
.fade-in-text { 
    font-family:Impact, fantasy	;
    
}
.karusel-sec { 
display: flex;
justify-content: center;
    
}
.karusel-own { 
    width: 800px;
}
.cashback { 
    display: flex;
  justify-content: end;
  color: red;
    
}
.buy { 
    display: flex;
    justify-content: end;
    font-size: 30px;
    color: orange;
}
.hada { 
bottom: 60px;
}
.hhh { 
    font-family: Andale Mono, monospace;
    font-size: 30px;
    color: black;
    justify-content: start;
    display: flex;
}
.qwerty {
    font-family: Andale Mono, monospace;
    font-size: 20px;
    color: grey;
    display: flex;
    justify-content: start;
}
.qwertyq{ 
    font-family: Andale Mono, monospace;
    font-size: 20px;
    color: grey;
    display: flex;
    justify-content: start;
}
.info { 
    font-family: Andale Mono, monospace;
    font-size: 30px;
    color: black;
    justify-content: center;
    display: flex;
}

.oferta { 
    font-family: Andale Mono, monospace;
    font-size: 20px;
    color: grey;
    display: flex;
    justify-content: center;
}
.politik { 
    font-family: Andale Mono, monospace;
    font-size: 20px;
    color: grey;
    display: flex;
    justify-content: center;
}

footer{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
}

footer a{
    text-decoration: none;
}


.container-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 72px;
   
  }
.my-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #2b0081;
    border: 2px solid rgb(57, 54, 41);
    transition: background .2s linear;
    width: 450px;
    text-align: center;
    margin: 5px;
  }
  
  .my-card:hover{
    background-color: #418EE9;
  }
  
  .my-card  img{
    width: 350px;
    height: 300px;
  }
  
  
  .num1 {
    font-size: 40px;
    text-align: center;
    border-radius: 40px;
    padding: 5px;
    background-color: rgb(62, 143, 209) ;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
  }
  
  
  .card-title{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
  }
  .all-carts-1 {
    padding: 30px 0;
  }
  